/* @import url('https://fonts.googleapis.com/css?family=Lato:100,400,700'); */

div {
  font-family: lato, sans-serif;
  color: white;
}

#wrapperGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 65px 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px [uws] 100px 100px 100px [ues] 100px 100px [fidi] 100px [redhook] 100px [dumbo] 100px [kew] 100px auto [divider] auto [livingston] 100px [jerseycity] 100px [greenwich] 100px 100px [ridgefield] 100px auto [divider2] auto [stmonica] 100px [vstop];
  grid-gap: 10px;
  grid-auto-flow: dense;
}

#wrapperGrid > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#wrapperGrid > * > * {
  text-align: center;
}

.datelabel {
  grid-column: span 2;
}

.date {
  /* grid-row-start: 1; */
  background-color: #666;
}

.divider {
  background-color: #aaa;
  grid-column: 1 / -1;
  font-size: 1.8rem;
  height: 45px;
}

.buffer {
  grid-column: 1 / -1;
  height: 35px;
}

.location {
  grid-column-start: 1;
}

.location > h4 {
  font-size: 1.4rem;
  transform: rotate(270deg);
}

.site {
  grid-column-start: 2;
  background-color: #888;
  padding: 10px;
  font-size: 0.85rem;
}

.site > * {
  margin: 2px;
}

.sitename {
  font-weight: 100;
}

#manh {
  grid-row: span 6;
}

#ct, #uws {
  grid-row: span 3;
}

#ues, #greenwich, #nj, #bk, #redhook {
  grid-row: span 2;
}

.location:nth-child(3n+2) {
  background-color: #58A59B;
}
.location:nth-child(3n+3) {
  background-color: #C6DCB0;
}
.location:nth-child(3n+1) {
  background-color: #80B79F;
}

.javascript {
  background-color: #58A59B;
}

.swift {
  background-color: #C6DCB0;
}

.ruby {
  background-color: #80B79F;
}

.course {
  padding: 20px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course > * {
  margin: 0;
}

.coursename {
  text-transform: uppercase;
  font-weight: 700;
}

.coursedate {
  font-weight: 100;
}

#wrapperGrid > .sitebox {
  background-color: rgba(0, 0, 0, 0.1);
  grid-column: 3 / -1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [s1] 1fr [s2] 1fr [stops2] 1fr [s3] 1fr [s4] 1fr [s5] 1fr [s6] 1fr [s7] 1fr [s8] 1fr [s9] 1fr [stop];
  padding: 0;
  grid-auto-flow: dense;
}

.double {
  grid-row: span 2;
}

.triple {
  grid-row: span 3;
}

.s1 {
  grid-column: 1 / 3;
}

.s2 {
  grid-column: 2 / 4;
}

.s3 {
  grid-column: 4 / 6;
}

.s4 {
  grid-column: 5 / 7;
}

.s5 {
  grid-column: 6 / 8;
}

.s6 {
  grid-column: 7 / 9;
}

.s7 {
  grid-column: 8 / 10;
}

.s8 {
  grid-column: 9 / 11;
}

.s9 {
  grid-column: 10 / 12;
}

.agegroup {
  font-style: italic;
}
