.hidden {
  display: none;
}

.strikethrough {
  background-color: #777;
  color: white;
}

a {
  margin: 5px 3px;
}

#menuBar {
  position: fixed;
  top: -8px;
  z-index: 1;
  width: 100%;
}

div.collapsible-body {
  background-color: white;
}

.cardBody {
  position: relative;
  top: 330px;
  z-index: 0;
}

h6.courseLocation {
  font-size: 1.4rem;
  font-style: italic;
}

h6.dates {

}

p.ugly {
  font-family: "Oswald";
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.card .card-image {
  height: 30%;
  overflow: hidden;
}

div.coursecard .card .card-content {
  max-height: 55%;
}
