.hidden {
  display: none;
}

.strikethrough {
  background-color: #777;
  color: white;
}

a {
  margin: 5px 3px;
}

#menuBar {
  position: fixed;
  top: -8px;
  z-index: 1;
  width: 100%;
}

div.collapsible-body {
  background-color: white;
}

.cardBody {
  position: relative;
  top: 330px;
  z-index: 0;
}

h6.courseLocation {
  font-size: 1.3rem;
}

h6.dates {
  
}
